.myWorksBlock {
    background-color: #232639;
}

.myWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 30px;
    position: relative;
    margin: 20px 0 20px;
}

.title::after {
    content: '';
    width: 55px;
    height: 1px;
    position: absolute;
    background: #FFC576;
    bottom: -15px;
    right: 50%;
    transform: translate(50%, -50%);
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .works {
        justify-content: center;
    }
}