.myWorksBlock {
  background-color: #232639;
  padding-bottom: 25px;
}

.myWorksContainer {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.works {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .works {
    justify-content: center;
  }
}