.contactsBlock  {
    background-color: #1F2235;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.formBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
}

.btnSend {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

p {
    color: #1F2235;
    font-weight: bolder;
}