.contactsBlock  {
    background-color: #1F2235;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {

}

.formBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.inputName {
    padding: 10px;
}
.inputLastName {
    margin-top: 10px;
    padding: 10px;
}
.textArea {
    margin-top: 10px;
    padding: 10px;
}
.btnSend {
    margin-top: 10px;
    padding: 10px;
}

p {
    color: #1F2235;
    font-weight: bolder;
}