.container {
    margin: 0 auto;
    padding: 0 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
}