.mainBlock {
    height: 100vh;
    min-height: 700px;
    background-color: #232639;
}


.heroContent {
    box-sizing: border-box;
}

.photo {
    width: 300px;
    height: 400px;
}

.introTitle {
    color: #FFC576;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    line-height: 100px;
    margin: 12px 0 0;
    letter-spacing: 0;
    font-weight: 700;
    word-wrap: break-word;
}

.subTitle {
    font-size: 30px;
    line-height: 32px;
    font-weight: 500;
    margin: 46px 0 0;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}