.mainBlock {
    height: 100vh;
    background-color: #1F2235;
}


.text {
    width: 300px;
    background-color: coral;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: coral;
}