.footerBlock {
    padding: 30px;
    background-color: #232639;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.footerInner {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {

}

.secondTitle {
    margin-top: 50px;
}

.socialBlock {
    border: 1px solid black;
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.specialSymbol:after {
    content: '\A9';
}